body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    margin: 0 0 1em 0;
    color: #333333;
    display: block;
}

input {
    border: 1px solid #CCCCCC;
    padding: 0.5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 0.7em;
    color: #FFFFFF;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
}

